@layer components {
	.juno-avatar {
		width: var(--avatar-size, 32px);
		height: var(--avatar-size, 32px);
		font-size: min(max(calc(var(--avatar-size, 1em) * 0.5), 12px), 9999px);
	}

	.juno-avatar[data-outline="light"] {
		outline: 0.5px solid currentColor;
		outline-offset: -0.5px;
		outline-color: color-mix(in srgb, currentColor 10%, transparent);
	}
	.juno-avatar[data-outline="light"][data-has-image] {
		outline-color: color-mix(in srgb, var(--avatar-color, currentColor) 10%, transparent);
	}

	.juno-avatar[data-outline="strong"] {
		outline: 1px solid currentColor;
		outline-offset: -1px;
		outline-color: color-mix(in srgb, currentColor 20%, transparent);
	}
	.juno-avatar[data-outline="strong"][data-has-image] {
		outline-color: color-mix(in srgb, var(--avatar-color, currentColor) 20%, transparent);
	}

	.juno-avatar[data-outline="accent"] {
		outline: 2px solid var(--accent);
		outline-offset: -1px;
	}

	.juno-avatar[data-outline="decorative"] {
		box-shadow:
			inset 0 0 0 0.5px color-mix(in srgb, var(--base-content) 20%, transparent),
			inset 0 0 0 calc(var(--avatar-size, 32px) * 0.08) var(--base-0),
			inset 0 0 0 calc(var(--avatar-size, 32px) * 0.1) color-mix(in srgb, var(--base-content) 10%, transparent);
	}

	/* Slot positioning */
	.juno-avatar-slot-top-right {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(25%, -25%);
	}
	.juno-avatar[data-circle] .juno-avatar-slot-top-right {
		top: 14.6%;
		right: 14.6%;
		transform: translate(50%, -50%);
	}

	.juno-avatar-slot-bottom-right {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(25%, 25%);
	}
	.juno-avatar[data-circle] .juno-avatar-slot-bottom-right {
		bottom: 14.6%;
		right: 14.6%;
		transform: translate(50%, 50%);
	}
}
