/* Ensure to import fonts in the index.css file */

/* Default Theme */
:where(:root) {
	/* Brand */
	--logo: url("/brand/logo.svg");
	--logo-inverted: url("/brand/logo_inverted.svg");
	--use-logo: var(--logo);
	--symbol: url("/brand/symbol.svg");
	--symbol-inverted: url("/brand/symbol_inverted.svg");
	--use-symbol: var(--symbol);

	/* Fonts */
	--font-body: "Inter", sans-serif;
	--font-accent: "Onest", sans-serif;
	--font-mono: "IBM Plex Mono", monospace;
	--font-weight-offset: 0; /* Changes font weights */
	--iconset: iconoir; /* 'iconoir' | 'material' | 'ionic' */

	/* Colors */
	--current: currentColor;

	--primary: hsla(340, 3%, 21%, 1);
	--primary-content: hsla(340, 0%, 15%, 1);
	--primary-focus: hsla(340, 3%, 16%, 1);
	--primary-surface: hsla(340, 0%, 85%, 1);

	--accent: hsla(16, 88%, 47%, 1);
	--accent-content: hsla(16, 78%, 15%, 1);
	--accent-focus: hsla(16, 88%, 42%, 1);
	--accent-surface: hsla(16, 68%, 85%, 1);

	--base-0: hsl(43, 8%, 100%);
	--base-50: hsl(43, 8%, 97%);
	--base-100: hsl(43, 8%, 92%);
	--base-200: hsl(43, 8%, 84%);
	--base-300: hsl(43, 8%, 70%);
	--base-400: hsl(43, 8%, 60%);
	--base-500: hsl(43, 8%, 50%);
	--base-600: hsl(43, 8%, 40%);
	--base-700: hsl(43, 8%, 30%);
	--base-800: hsl(43, 8%, 20%);
	--base-900: hsl(43, 8%, 10.0%);
	--base-content: var(--base-800);
	--base-surface: var(--base-50);
	--base: var(--base-700);

	--info: hsl(210, 100%, 41%);
	--info-content: hsl(210, 90%, 25%);
	--info-focus: hsl(210, 90%, 50%);
	--info-surface: hsl(210, 100%, 92%);

	--success: hsl(110, 100%, 34%);
	--success-content: hsl(110, 90%, 25%);
	--success-focus: hsl(110, 90%, 40%);
	--success-surface: hsl(100, 100%, 92%);

	--warning: hsl(20, 100%, 47%);
	--warning-content: hsl(15, 90%, 25%);
	--warning-focus: hsl(20, 90%, 50%);
	--warning-surface: hsl(20, 100%, 92%);

	--error: hsl(40, 100%, 48%);
	--error-content: hsl(40, 90%, 25%);
	--error-focus: hsl(40, 90%, 53%);
	--error-surface: hsl(40, 100%, 92%);

	/* Border Radius */
	--pill-mode: 0;
	--border-radius-xs: 0.125rem; /* 2px */
	--border-radius-sm: 0.25rem; /* 4px */
	--border-radius-md: 0.375rem; /* 6px */
	--border-radius-lg: 0.5rem; /* 8px */
	--border-radius-xl: 0.75rem; /* 12px */
	--border-radius-2xl: 1rem; /* 16px */
	--border-radius-3xl: 1.5rem; /* 24px */
	--border-radius-4xl: 2rem; /* 32px */
	--border-radius-full: 9998px;
	--border-radius-iphone: 44px;

	--current: currentColor;

	--current-8: color-mix(in srgb, currentColor 8%, transparent);
}

.dark {
	--use-logo: var(--logo-inverted);
	--use-symbol: var(--symbol-inverted);

	--primary: hsla(27, 20%, 85%, 1);
	--primary-content: hsla(27, 15%, 90%, 1);
	--primary-focus: hsla(27, 20%, 90%, 1);
	--primary-surface: hsla(27, 4%, 20%, 1);

	--accent: hsla(16, 88%, 55%, 1);
	--accent-content: hsla(16, 78%, 90%, 1);
	--accent-focus: hsla(16, 88%, 60%, 1);
	--accent-surface: hsla(16, 40%, 20%, 1);

	--base-0: hsl(43, 8%, 8%);
	--base-50: hsl(43, 8%, 10%);
	--base-100: hsl(43, 8%, 14%);
	--base-200: hsl(43, 8%, 18%);
	--base-300: hsl(43, 8%, 25%);
	--base-400: hsl(43, 8%, 35%);
	--base-500: hsl(43, 8%, 50%);
	--base-600: hsl(43, 8%, 65%);
	--base-700: hsl(43, 8%, 75%);
	--base-800: hsl(43, 8%, 85%);
	--base-900: hsl(43, 8%, 92%);
	--base-content: hsl(43, 4%, 90%);

	--info: hsl(210, 100%, 60%);
	--info-content: hsl(210, 90%, 90%);
	--info-focus: hsl(210, 90%, 65%);
	--info-surface: hsl(210, 60%, 20%);

	--success: hsl(110, 80%, 50%);
	--success-content: hsl(110, 90%, 90%);
	--success-focus: hsl(110, 80%, 55%);
	--success-surface: hsl(100, 60%, 20%);

	--warning: hsl(20, 100%, 60%);
	--warning-content: hsl(15, 90%, 90%);
	--warning-focus: hsl(20, 90%, 65%);
	--warning-surface: hsl(20, 60%, 20%);

	--error: hsl(40, 100%, 60%);
	--error-content: hsl(40, 90%, 90%);
	--error-focus: hsl(40, 90%, 65%);
	--error-surface: hsl(40, 60%, 20%);
}

/* Squircle support */
@supports (corner-shape: squircle) {
	.squircle {
		corner-shape: squircle !important;
	}

	/* will apply squircle to all elements that are not rounded-full */
	.squircle-prefer:not(.rounded-full),
	.squircle-prefer *:not(.rounded-full) {
		/* biome-ignore lint/correctness/noUnknownProperty: corner-shape is a valid CSS property (CSS Round Display Level 1) */
		corner-shape: squircle;
	}

	/* will apply squircle to all elements */
	.squircle-everywhere,
	.squircle-everywhere * {
		/* biome-ignore lint/correctness/noUnknownProperty: corner-shape is a valid CSS property (CSS Round Display Level 1) */
		corner-shape: squircle;
	}

	/* if squircle-everywhere/preferred is applied, this will skip it */
	.squircle-ignore,
	.squircle-everywhere .squircle-ignore,
	.squircle-prefer .squircle-ignore {
		corner-shape: none !important;
	}
}
